<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
</head>
<body>
    <h1>Blog Posts</h1>
    <ul>
        <% posts.forEach(post => { %>
            <li>
                <a href="/post/<%= post.id || post._id %>"><%= post.title %></a>
                <small><%= post.created_at || post.createdAt %></small>
            </li>
        <% }) %>
    </ul>
</body>
</html>
